.cart-layout {
  padding-top: 44px;
}
.cart-layout .header {
  background: linear-gradient(#ccc, #999);
  height: 44px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cart-layout .header .arrow {
  width: 44px;
  height: 44px;
  float: left;
  padding: 12px;
  background-position: -21px 0;
  background-origin: content-box;
  background-clip: content-box;
}
.cart-layout .header .search {
  overflow: hidden;
  height: 100%;
  text-align: center;
}
.cart-layout .header .search h2 {
  line-height: 44px;
}
.cart-layout .header .menu {
  width: 44px;
  height: 44px;
  float: right;
  padding: 12px;
  background-position: -60px 0;
  background-origin: content-box;
  background-clip: content-box;
}
.cart-layout .cart-safe {
  border-bottom: 1px solid #ccc;
}
.cart-layout .cart-safe p {
  height: 33px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.cart-layout .cart-safe p::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url("../images/safe_icon.png") no-repeat center center;
  background-size: 25px 25px;
  vertical-align: middle;
}
.cart-layout .cart-product {
  height: 100%;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.cart-layout .cart-product .chk {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
  top: 7px;
  background-position: -180px -69px;
}
.cart-layout .cart-product .p-title {
  position: relative;
  height: 34px;
  color: #999;
  line-height: 34px;
  padding: 0 0 0 34px;
  border-bottom: 1px solid #ccc;
}
.cart-layout .cart-product .p-title .logo {
  width: 20px;
  height: 20px;
  margin: 10px 10px 0 0;
}
.cart-layout .cart-product .p-title .free {
  margin-right: 10px;
}
.cart-layout .cart-product .p-list .item {
  position: relative;
  height: 100px;
  padding: 0 0 0 34px;
  border-bottom: 1px solid #ccc;
}
.cart-layout .cart-product .p-list .item img {
  width: 80px;
  height: 80px;
  float: left;
}
.cart-layout .cart-product .p-list .item .info {
  padding: 5px;
  height: 100px;
  overflow: hidden;
}
.cart-layout .cart-product .p-list .item .info p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cart-layout .cart-product .p-list .item .info .option {
  margin-top: 15px;
}
.cart-layout .cart-product .p-list .item .info .option .num > * {
  float: left;
}
.cart-layout .cart-product .p-list .item .info .option .num span {
  width: 36px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 28px;
}
.cart-layout .cart-product .p-list .item .info .option .num input {
  width: 36px;
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.cart-layout .cart-product .p-list .item .info .option .del {
  margin-right: 10px;
  width: 18px;
  height: 22px;
}
.cart-layout .cart-product .p-list .item .info .option .del .del-up {
  width: 100%;
  height: 4px;
  margin-bottom: -3px;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 18px 4px;
}
.cart-layout .cart-product .p-list .item .info .option .del .del-down {
  width: 100%;
  height: 18px;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 18px 18px;
}
.cart-layout .cart-product .p-list .item .info .option .open .del-up {
  transform: rotateZ(25deg);
  transition: transform 0.5s;
}
.cart-layout .win-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.cart-layout .win-pop .del {
  width: 80%;
  padding: 5px;
  background-color: #fff;
  position: absolute;
  left: 10%;
  top: 200px;
  border-radius: 10px;
  animation-iteration-count: 1;
}
.cart-layout .win-pop .del p {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.cart-layout .win-pop .del .btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
.cart-layout .win-pop .del .btn .btn {
  width: 45%;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.cart-layout .win-pop .del .btn .right {
  border: 1px solid red;
  background-color: red;
  color: #fff;
}
@keyframes dropDown {
  0% {
    transform: translateY(-300px);
  }
  80% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-20px);
  }
  95% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
